<% include header.ejs %>

<br>
<div class="main-container">
    <main class="site-main">
        <!-- Largest Post -->
        <div class="container-fluid no-left-padding no-right-padding largest-post-block">
            <!-- Container -->
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <h3>Новини</h3>
                </div><!-- Section Header /- -->
                <!-- Row -->
                <div class="row">
                    <% AllPosts.forEach(posts => { %>
                        <div class="col-md-4 col-sm-6 col-xs-6 blogBox moreBox" style="display: none">
                            <!-- Type Post -->
                            <div class="type-post color-7">
                                <div class="entry-cover"><a href="/news/<%= posts.slug %>"><img
                                                style="height: 250px; width: 500px"
                                                src="/images/<%= posts._id %>/<%= posts.image %>"
                                                alt="Post"/></a></div>
                                <div class="entry-content">
                                    <div class="post-category"><a href="#" title="business"><%= posts.categories %></a>
                                    </div>
                                    <h3 class="entry-title"><a href="/news/<%= posts.slug %>"><%= posts.title %></a>
                                    </h3>
                                    <p><%= posts.description %></p>
                                    <div class="entry-footer">
                                        <% var options = {year: 'numeric', month: 'long', day: 'numeric'}; %>
                                        <span class="post-date"><a
                                                    href="#"><%= posts.createdAt.toLocaleDateString('ua-UA', options) %></a></span>
                                        <span class="post-like"><i class="fa fa-user"></i><a
                                                    href="#"><%= posts.createdBy %></a></span>
                                        <span class="post-view"><i class="fa fa-comment"></i><a
                                                    href="#"><%= posts.comments.length %></a></span>
                                    </div>
                                    <a href="/news/<%= posts.slug %>" title="Read More">Читати далі... <i
                                                class="fa fa-angle-right"></i></a>
                                </div>
                            </div><!-- Type Post /- -->
                        </div>
                    <% }) %>
                    <div class="col-md-12 col-sm-6 col-xs-6 load-more">
                        <a id="loadMore" title="Load More">Показати ще</a>
                    </div>
                </div>
            </div><!-- Row /- -->
        </div><!-- Container /- -->


    </main>
</div>
<% include footer.ejs %>

<script>

    $(document).ready(function () {
//-------------------------------------------------------
        $(".moreBox").slice(0, 6).show();
        if ($(".blogBox:hidden").length != 0) {
            $("#loadMore").show();
        } else if ($(".blogBox:hidden").length <= 6) {
            $("#loadMore").hide();
            $(".load-more").hide();
        }
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".moreBox:hidden").slice(0, 6).slideDown();
            if ($(".moreBox:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
                $(".load-more").fadeOut('slow');
            }
        });
    });
</script>